<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title>Factura</title> </head>

<body>
  <div>
    <table width="970" height="50" border="0" align="center" bordercolor="#F0F0F0">

      <table width="100%" border="1" align="center" bordercolor="#999999">
        <tr>
         <th width="30%" border="0" align="right">
            <div height="10">Jesus Ramon Canuto Gonzalez</div>
            <BR><BR>
            <div>Santisimo cristo de la fe, 1 bajo</div>
            <div>Almassera &nbsp&nbsp&nbsp&nbsp&nbsp 46132</div>
            <div>96 185 05 22</div>
            <div>73 544 307 J</div>
          </th>
          <th width="60%" border="0" align="left">
            <div height="10">Factura a clientes</div>
            <BR>
            <div>Numero A/ 6214</div>
            <div>Fecha:  97-05-15</div>
            <div>Numero Alberan: </div>
            <div>Almacen: &nbsp&nbsp&nbsp&nbsp&nbsp Almacen de compras</div>
          </th>
        </tr>
      </table>

      <table width="100%" border="1" align="center" bordercolor="#999999">

        <tr>
          <td height="50">DATOS DEL CLIENTE      <!-- Variable del cliente--> </td>
          <td>R.I.F     <!-- Numero -->  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp MATRICULA:     <!-- matricula  --></td>
        </tr>
        <tr>
          <td height="50">NOMBRE <BR><BR> RAFAEL ADELANTADO FORNAS</td>
          <td>DIRECCION DE ENVIO <BR><BR> C/CONDE PARCEN  </td>
        </tr>

        <tr>
          <td height="20"> POBLACION <BR><BR> ALMASSERA </td>
          <td height="20"> COD POSTAL <BR><BR> 446132</td>
        </tr>

      </table>

      <table width="100%" border="1" align="center" bordercolor="#999999">

        <tr>
          <td height="50">REF</td>
          <td>DESCRIPCION</td>
          <td>CANT.</td>
          <td>PRECIO</td>
          <td>DTD</td>
          <td>IMPORTE</td>
        </tr>

        <tr>
          <td><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR></td>
          <td><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR></td>
          <td><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR></td>
          <td><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR></td>
          <td><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR></td>
          <td><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR></td>
        </tr>
        <tr>
          <td height="50" align="right"> Dto. Esp </td>
          <td align="right">Bases de I.V.A.</td>
          <td align="right">% IVA</td>
          <td align="right">Cuatos de I.V.A.</td> 
        </tr>
        <tr>
          <td height="50" align="right">Dto P.P.</td>
          <td align="right"> 243.82  <BR><BR><BR><BR><BR></td>
          <td align="right">21.0 <BR><BR><BR><BR><BR></td>
          <td align="right">51.20 <BR><BR><BR><BR></td>
          <th border="0">
            <div height="10" align="left">Neto: &nbsp&nbsp&nbsp&nbsp</div>
            <div align="left">Total I.V.A.: &nbsp&nbsp&nbsp&nbsp</div>
            <div align="left">% I.R.P.F.: &nbsp&nbsp&nbsp&nbsp</div>
          </th>
        </tr>
      </table>
    </table>
  </div>
</body>
</html>